*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  transition: 200ms ease-in-out;
}
body {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
  background-color: #263854;
  color: white;
}
.title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 9vh;
  letter-spacing: 2px;
  margin-top: -30px;
  margin-bottom: 90px;
  text-align: center;
}
.info {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 1em;
  letter-spacing: 0.5px;
  margin-top: -90px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}
.sectiontitle {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.5vh;
  letter-spacing: 2px;
  margin-top: -10px;
  margin-bottom: -10px;
  text-align: center;
  transition: 200ms ease-in-out;
}
.grid-container {
  /*needs to be flex to move*/
  display: flex;
  background-color: inherit;
  padding: 0px;
  height:90vh;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: 200ms ease-in-out;
  background: red;
  flex-flow: row nowrap;
  flex-basis:20%;
}
.map {
  margin: 10px;
  width:20%;
  display: flex;
  border: none;

}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  margin: 10px;
  display: flex;
}
.image {
  width: 350px;
  margin: 0px;
  padding: 10px;
  pointer-events: none;
display: flex;

}
.map-button {
  border: none;
}
[id^="modal"]:target {
  display: block;
}
[id^="modal"] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  height: fit-content;
  padding: 30px;
  max-width: 90%;
  transition: 200ms ease-in-out;
  max-height: 80%;
  overflow: scroll;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
  max-height: 90%;
  overflow: scroll;
}
.modal-header {
  padding: 10px 15px;
  align-items: center;
}
.modal-title {
  font-size: 3rem;
  font-weight: bold;
  color: #263854;
  font-family: "Bebas Neue", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: block;
}

.modal-header .close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-body {
  font-size: 1rem;
  color: #263854;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
  padding: 20px;
}
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#maps {
  /*what you actually see as maps*/
  background-color: inherit;
  border: none;
  padding: 1em;
  text-align: center;
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: flex;
}
#close {
  background-color: #263854;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  padding: 15px;
  letter-spacing: 2px;
  border-radius: 20px;
  position: fixed;
  left: 25%;
  right: 25%;
  margin-inline-start: 10%;
}
.footer {
  background-color: white;
  height: 40px;
  font-size: 1rem;
  color: #263854;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
  display: flex;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: center;
    transition: 200ms ease-in-out;
   
  }

}
  h1,
  h2,
  h3,
  h4,
  .title {
    transition: 200ms ease-in-out;
    letter-spacing: 1px;
    font-size: 5vh;
    margin-left: 20px;
    margin-right: 0px;
    text-align: center;
  }
  .sectiontitle {
    font-size: 2.5vh;
    transition: 200ms ease-in-out;
  }
  .info a,
  li,
  body {
    transition: 200ms ease-in-out;
    letter-spacing: 1px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }


@media screen and (width: 1500px) {
  .title,
  .info,
  li,
  body {
    margin-left: 0%;
    margin-right: 0%;
  }
}
